[Unit]
Description=tardev containerd snapshotter daemon
After=network.target

[Service]
ExecStart=/usr/bin/tardev-snapshotter /var/lib/containerd/io.containerd.snapshotter.v1.tardev /run/containerd/tardev-snapshotter.sock
Restart=on-failure

[Install]
WantedBy=multi-user.target
WantedBy=containerd.service
